rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Alumnos
    match /Alumnos/{alumnoId} {
      allow read, write: if true;
    }

    // Asistencias
    match /Asistencias/{asistenciaId} {
      allow read, write: if true;
    }

    // Historial de pagos
    match /Pagos/{pagoId} {
      allow read, write: if true;
    }

    // Vinculación de tarjetas RFID/NFC
    match /VinculacionesRFID/{vinculacionId} {
      allow read, write: if true;
    }

    // Información mostrada en Pantalla TV
    match /Pantallas/{sedeId} {
      allow read, write: if true;
    }

    // Perfiles privados de atletas
    match /perfiles/{userId} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    // Base de datos de alimentos
    match /alimentos/{alimentoId} {
      allow read: if true;
    }
  }
}
